{
  "singleQuote": false,
  "semi": true,
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 80,
  "bracketSpacing": true,
  "arrowParens": "always",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/recoil/(.*)$",
    "^@/pages/(.*)$",
    "^@/components/(.*)$",
    "^@/assets/(.*)$",
    "^@/types/(.*)$",
    "^@/api/(.*)$",
    "^@/hooks/(.*)$",
    "^@/utils/(.*)$",
    "^@/constants/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true
}
