{
  "singleQuote": false,
  "semi": true,
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 80,
  "bracketSpacing": true,
  "arrowParens": "always",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/.*\\.css$",
    "^@/App",
    "^@/Cabinet/recoil/(.*)$",
    "^@/Cabinet/pages/(.*)$",
    "^@/Cabinet/components/(.*)$",
    "^@/Cabinet/assets/(.*)$",
    "^@/Cabinet/types/(.*)$",
    "^@/Cabinet/api/(.*)$",
    "^@/Cabinet/hooks/(.*)$",
    "^@/Cabinet/utils/(.*)$",
    "^@/Cabinet/constants/(.*)$",
    "^@/Presentation_legacy/recoil/(.*)$",
    "^@/Presentation_legacy/pages/(.*)$",
    "^@/Presentation_legacy/components/(.*)$",
    "^@/Presentation_legacy/assets/(.*)$",
    "^@/Presentation_legacy/types/(.*)$",
    "^@/Presentation_legacy/api/(.*)$",
    "^@/Presentation_legacy/hooks/(.*)$",
    "^@/Presentation_legacy/utils/(.*)$",
    "^@/Presentation_legacy/constants/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true
}
