version: "3"

services:
  mariadb:
    container_name: db
    build: ./
    restart: always
    environment:
      MARIADB_DATABASE_HOST: localhost
      MARIADB_DATABASE: cabi_local
      MARIADB_USER: root
      MARIADB_PASSWORD: YourPassword
      MARIADB_ROOT_PASSWORD: YourPassword
    ports:
      - "3307:3306"
    tty: true
#  redis:
#    container_name: redis
#    image: redis:latest
#    ports:
#      - '6379:6379'
#    tty: true
  gateway:
    container_name: nginx_gateway
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ../dev/:/etc/nginx/conf.d/
  redis:
    image: redis:latest
    restart: always
    ports:
      - "6379:6379"
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      timeout: 20s
      retries: 10