#contentsmodal{
    z-index: 2000;
}
.modal-body{
    font-size: large;
    font-weight: bolder;
    justify-content: center;
    text-align: center;
    padding: 5px;
}

.modal-header{
    padding: 10px;
    border-bottom: 0px ;
    min-height: 16.42857143px;
}

p{
    margin: 15px 0 10px;
    text-align: center;
}

#btn-primary{
    color: #fff;
    background-color: #6667AB;
    border-color: #6667AB;
}

#btn-primary:hover{
    color: #fff;
    background-color: #5657a5;
    border-color: #5657a5;
}
.modal-footer {
    margin-top: 0px;
    padding: 10px 10px 10px;
    text-align: center;
    justify-content: center;
    border-top: 0px;
}
