#eventmodal{
    z-index: 1060;
    display: block;
}
.modal-body{
    font-size: large;
    font-weight: bolder;
    justify-content: center;
    text-align: center;
    padding: 5px;
}

.modal-title{
    font-size: large;
    font-weight: bolder;
    justify-content: center;
    text-align: center;
    padding: 5px;
}

.modal-header{
    font-size: large;
    font-weight: bolder;
    justify-content: center;
    text-align: center;
}

.modal-content {
    border-radius: 13px;
}

.eventMessage{
    padding: 2px;
    margin: 0;
    padding-bottom: 12px;
    padding-top: 16px;
    padding-left: 3%;
    font-size: medium;
    font-weight: bolder;
    /* color: #6c337d */
    color: rgb(41, 40, 40);
    text-align: left;
}
.modal-header{
    padding: 10px;
    border-bottom: 0px ;
    min-height: 16.42857143px;
}
p{
    margin: 15px 0 10px;
    text-align: center;
}

.link{
    color: #5657a5;
}

#btn-primary{
    color: #fff;
    background-color: #6667AB;
    border-color: #6667AB;
}

#btn-primary:hover{
    color: #fff;
    background-color: #5657a5;
    border-color: #5657a5;
}