#menualmodal {
  z-index: 1060;
  padding: 5px;
}

.modal-content {
  border-radius: 13px;
}

#menual-body {
  margin: 5px !important;
  white-space: pre-wrap !important;
  font-size: medium !important;
  padding: 10px !important;
  text-align: left !important;
}

.menual-body {
  overflow: scroll;
  height: 50vh;
}

#btn-primary {
  color: #fff;
  background-color: #6667ab;
  border-color: #6667ab;
}

#btn-primary:hover {
  color: #fff;
  background-color: #5657a5;
  border-color: #5657a5;
}
