.btn-primary {
  color: #fff;
  background-color: #6667ab;
  border-color: #6667ab;
}

.btn-primary:hover {
  color: #fff;
  background-color: hsl(239, 31%, 49%);
  border-color: #5657a5;
}

.modal-content {
  border-radius: 13px;
}

.input {
  border: none;
  /* border-top: none;
    border-left: none;
    border-right: none; */
  border-bottom: 1px solid #5657a5;
}

.input:focus {
  outline: none;
  border-bottom: 3px solid #5657a5;
}