#returnmodal {
  z-index: 1060;
}
#btn-primary {
  color: #fff;
  background-color: #6667ab;
  border-color: #6667ab;
}
#btn-primary:hover {
  color: #fff;
  background-color: #5657a5;
  border-color: #5657a5;
}

.modal-content {
  border-radius: 13px;
}
