#location {
  text-align: center;
}

#locationMenu {
  text-align: center;
  overflow: visible;
  left: 30%;
  min-width: 30px;
}

#locationfont {
  color: gray;
}

#lentBtn {
  color: white;
  border: white 3px solid;
  border-radius: 15px;
}

#lentBtn:hover {
  background-color: #d8d4d44b;
}
#nav-tab {
  color: white;
  background-color: #6667ab;
  padding-right: 2rem !important;
  padding-left: 2rem !important;
  border-bottom: none;
  border-radius: 5px 5px 0px 0px;
}
#nav-tab.active {
  color: #6667ab;
  background-color: white;
}

#carouselBtn {
  color: #6667ab;
}

#nav-tabContent {
  height: 70vh;
  margin-right: 5%;
  background-color: white;
  border-radius: 1em;
}
