
Body{
    /* width: 100vw; */
    /* height: 100vh; */
    background: #39337d;
    background: -webkit-linear-gradient(to bottom, #9e39969a, #39337d);
    background: linear-gradient(to bottom, #9e39969a, #39337d);
    margin: 3%;
    padding: 1%;

    /* justify-content: center; */
    /* position: absolute; */
    /* left: 50%;
    top: 50%; */

}

#container{
    padding: 10px 10px 10px 10px;
    background: white;
    border-radius: 10px;
    /* border: solid; */
    /* justify-content: center; */
    /* margin: auto; */
}

#loginBtn{
    color: wheat;
    border: wheat 3px solid;
    background: black;
    border-radius: 15px;
}

#loginBtn:hover{
    background-color: #d8d4d44b;
}

#root .App{
    /* width: 100vw; */
    height: 100vh;
}

#logo > img {
    height: 40vh;
    object-fit: scale-down;
}