
Body{
    /* background: #f9f9f9; */
    background: #9e39969a;
    background: -webkit-linear-gradient(to bottom, #9e39969a, #39337d);
    background: linear-gradient(to bottom, #9e39969a, #39337d);
    padding: 3%;
    justify-content: center;
    /* position: absolute; */
    /* left: 50%;
    top: 50%; */
    font-family: 'EliceDigitalBaeum_Regular';
}

#container{
    height: 100%;
    width: 100%;
    padding: 10px 10px 10px 10px;
    background: #f2f2f256;
    border-radius: 10px;
    justify-content: center;
}



@font-face {
    font-family: 'EliceDigitalBaeum_Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#loginBtn{
    color: white;
    border: white 3px solid;
    border-radius: 15px;
}

#loginBtn:hover{
    background-color: #d8d4d44b;
}

#root .App{
    height: 100vh;
}

#logo > img {
    height: 40vh;
    object-fit: scale-down;
}
