.card-body {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
  padding-left: 0;
  padding-right: 0;
}

#passwordtext {
  bottom: 0;
  padding: 0;
  padding-top: 1em;
  --bs-text-opacity: 1;
  color: #6667ab2e;
}

.event {
  background: url("./../img/event.gif");
  object-fit: cover;
}

.event > .card-body > div,
.event > .card-body > div > div {
  color: white !important;
}

.expiredView {
  border: solid 10px red;
  object-fit: cover;
}
