<div>
	<h1> π¨ μ‚¬λ¬Όν•¨ λ€μ—¬ μ—°μ²΄ μ•λ¦Ό π¨ </h1>
</div>
<br>
<div>
	<b><%=locals.intra_id %></b>λ‹, μ΄μ© μ¤‘μΈ μ‚¬λ¬Όν•¨μ λ€μ—¬κΈ°κ°„μ΄ μ—°μ²΄λμ—μµλ‹λ‹¤. <br><br>

	μ‚¬λ¬Όν•¨μ λ€μ—¬κΈ°κ°„μ„ ν™•μΈν•μ‹  ν›„, λ°λ‚© λ¶€νƒλ“λ¦½λ‹λ‹¤. <br><br>

	μ¤λκΉμ§€ μ‚¬λ¬Όν•¨μ΄ λ°λ‚©λμ§€ μ•μ„ κ²½μ°, <br>
	μ‚¬λ¬Όν•¨ μ‚¬μ©μ΄ μκµ¬μ μΌλ΅ λ¶κ°€ν•λ©° TIGκ°€ λ¶€μ—¬λ  μ μμµλ‹λ‹¤. <br>
</div>
<br>
<div>
	μ‚¬λ¬Όν•¨ λ€μ—¬ μ„λΉ„μ¤ λ°”λ΅κ°€κΈ°  β΅  <a href="https://cabi.42seoul.io">https://cabi.42seoul.io</a> <br>
	μ‚¬λ¬Όν•¨ μ„λΉ„μ¤ κ΄€λ ¨ λ¬Έμμ‚¬ν•­  β΅  <a href="https://42born2code.slack.com/archives/C02V6GE8LD7">https://42born2code.slack.com/archives/C02V6GE8LD7</a> <br>
</div>
