@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Noto+Sans+KR:wght@300;400;700&display=swap");

:root {
  /* white, gray, black color variable */
  --white: #ffffff;
  --gray-100: #f5f5f5;
  --gray-200: #eeeeee;
  --gray-300: #d9d9d9;
  --gray-400: #bcbcbc;
  --gray-500: #7b7b7b;
  --gray-600: #3c3c3c;
  --gray-700: #262626;
  --gray-800: #1f1f1f;
  --black: #181818;

  /* red color variable */
  --red-100: #ff4e4e;
  --red-200: #e54646;

  /* orange color variable */
  --orange-color: #ef8172;

  /* green color variable */
  --green-100: #47ffa7;
  --green-200: #3fe596;

  /* blue color variable */
  --blue-100: #f5f7ff;
  --blue-200: #7ebffb;
  --blue-300: #406ee4;

  /* purple color variable */
  --purple-100: #f9f6ff;
  --purple-200: #dfd0fe;
  --purple-300: #b18cff;
  --purple-400: #a17bf3;
  --purple-500: #9747ff;
  --purple-600: #8337e5;
  --purple-700: #3c1c66;

  /* pink color variable */
  --pink-100: #f473b1;
  --pink-200: #d72766;

  /* cabinet color variable */
  --broken: var(--gray-600);
  --session: var(--gray-200);

  /* shadow variable */
  --black-shadow-100: rgba(0, 0, 0, 0.1);
  --black-shadow-200: rgba(0, 0, 0, 0.25);
  --black-shadow-300: rgba(0, 0, 0, 0.4);
  --black-shadow-400: rgba(0, 0, 0, 0.8);

  /* custom color variable */
  --custom-blue-100: #74b9ff;
  --custom-blue-200: #0984e3;
  --custom-blue-300: #0d4c92;
  --custom-pink: #ff4589;
  --custom-purple-100: #a29bfe;
  --custom-purple-200: var(--purple-500);
  --custom-orange: #ff8b5b;
  --custom-yellow: #ffc74c;
  --custom-green-100: #00cec9;
  --custom-green-200: #00c2ab;

  /* font variable */
  --main-font: "Noto Sans KR", sans-serif;
  --building-font: "Do Hyeon", sans-serif;

  /* default setting */
  font-family: "Noto Sans KR", Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

:root {
  --color-background: var(--white);
  --color-line: var(--gray-tmp-4);
  --color-text-normal: var(--black);

  /* main color variable */
  --main-color: var(--purple-500);
  --sub-color: var(--purple-300);

  /* cabinet color variable */
  --mine: var(--green-100);
  --available: var(--main-color);
  --pending: var(--main-color);
  --full: var(--gray-200);
  --expired: var(--red-100);
  --banned: var(--gray-600);

  --default-main-color: var(--purple-500);
  --default-sub-color: var(--purple-300);
  --default-mine-color: var(--green-100);

  --bg-shadow-100: var(--black-shadow-100);
  --bg-shadow-200: var(--black-shadow-200);
  --bg-shadow-300: var(--black-shadow-300);
  --bg-shadow-400: var(--black-shadow-400);
  --border-shadow-100: var(--black-shadow-100);
  --border-shadow-200: var(--black-shadow-200);
  --border-shadow-300: var(--black-shadow-300);

  color: var(--color-text-normal);
  background-color: var(--color-background);

  --gray-tmp-1: var(--gray-100);
  --gray-tmp-2: var(--gray-200);
  --gray-tmp-3: var(--gray-300);
  --gray-tmp-4: var(--gray-400);
  --gray-tmp-5: var(--gray-500);
  --gray-tmp-6: var(--gray-600);
  --gray-tmp-7: var(--gray-700);

  --purple-tmp-1: var(--purple-100);
}

/* main color variable */
/* cabinet color variable */
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--gray-800);
    --color-line: var(--gray-tmp-3);
    --color-text-normal: var(--gray-100);

    --main-color: var(--purple-600);
    --sub-color: var(--purple-300);

    --mine: var(--green-200);
    --available: var(--main-color);
    --pending: var(--main-color);
    --full: var(--gray-200);
    --expired: var(--red-200);
    --banned: var(--gray-600);

    --default-main-color: var(--purple-600);
    --default-sub-color: var(--purple-300);
    --default-mine-color: var(--green-200);

    --bg-shadow-100: var(--black-shadow-200);
    --bg-shadow-200: var(--black-shadow-300);
    --bg-shadow-300: var(--black-shadow-400);
    --bg-shadow-400: var(--black-shadow-400);
    --border-shadow-100: var(--black-shadow-200);
    --border-shadow-200: var(--black-shadow-300);
    --border-shadow-300: var(--black-shadow-400);

    color: var(--color-text-normal);
    background-color: var(--color-background);

    --gray-tmp-1: var(--gray-700);
    --gray-tmp-2: var(--gray-700);
    --gray-tmp-3: var(--gray-600);
    --gray-tmp-4: var(--gray-500);
    --gray-tmp-5: var(--gray-400);
    --gray-tmp-6: var(--gray-300);
    --gray-tmp-7: var(--gray-200);

    --purple-tmp-1: var(--purple-700);
  }
}

a {
  color: var(--main-color);
  -webkit-tap-highlight-color: transparent;
}

@media (hover: hover) and (pointer: fine) {
  a:hover {
    opacity: 0.9;
  }
}

html,
body {
  width: 100%;
  height: 100%;
  user-select: none;
  overflow: hidden;
}

/* iOS Pinch Zoom disabled */
body {
  touch-action: none;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  background-color: var(--color-background);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  cursor: pointer;
  border: none;
  background-color: var(--main-color);
  color: var(--white);
  /* white */
  width: 200px;
  height: 60px;
  font-size: 1.125rem;
  text-align: center;
  font-family: var(--main-font);
  border-radius: 6px;
  font-weight: 300;
  -webkit-tap-highlight-color: transparent;
}

@media (hover: hover) and (pointer: fine) {
  button:hover {
    opacity: 0.9;
  }
}

button:disabled {
  cursor: wait;
  opacity: 0.9;
}

img {
  -webkit-user-drag: none;
  max-width: 100%;
  width: 100%;
  height: 100%;
  vertical-align: top;
  object-fit: cover;
}

input {
  color: var(--color-text-normal);
  text-align: center;
  border: none;
  font-size: 1rem;
  outline: none;
  background: none;
  box-sizing: border-box;
}

.modal {
  border-radius: 10px;
  box-shadow: 10px 10px 40px 0px var(--border-shadow-200);
}

.textNowrap {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.noScrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.noScrollbar::-webkit-scrollbar {
  display: none;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.clear::after {
  display: block;
  clear: both;
  content: "";
}

.leftNavButtonActive {
  background: var(--main-color);
  color: var(--white) !important;
}

.cabiButton {
  -webkit-tap-highlight-color: transparent;
}
