@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Noto+Sans+KR:wght@300;400;700&display=swap");

/* 
#ffffff
#f5f5f5
#eeeeee
#d9d9d9
#7b7b7b
#3c3c3c
#181818
*/

:root {
  /* color variable */
  --main-color: #9747ff;
  --sub-color: #b18cff;
  --pale-main-color: #f9f6ff;
  --bg-shadow: rgba(0, 0, 0, 0.4);

  /* white, gray, black color variable */
  --white: #ffffff;
  --gray-100: #f5f5f5;
  --gray-200: #eeeeee;
  --gray-300: #d9d9d9;
  --gray-400: #bcbcbc;
  /* TODO : bcbcbcëŠ” line-color*/
  --gray-500: #7b7b7b;
  --dark-gray-color: #3c3c3c;
  --black: #181818;

  /* cabinet color variable */
  --mine: #47ffa7;
  --expired: #ff4e4e;
  --available: var(--main-color);
  --full: var(--gray-200);
  --broken: var(--dark-gray-color);
  --banned: var(--dark-gray-color);
  --session: var(--gray-200);
  --pending: var(--main-color);

  --default-main-color: #9747ff;
  --default-sub-color: #b18cff;
  --default-mine-color: #47ffa7;

  /* font variable */
  --main-font: "Noto Sans KR", sans-serif;
  --building-font: "Do Hyeon", sans-serif;

  /* default setting */
  font-family: "Noto Sans KR", Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: var(--black);
  /* background-color: var(--white); */
}

a {
  color: var(--main-color);
  -webkit-tap-highlight-color: transparent;
}

@media (hover: hover) and (pointer: fine) {
  a:hover {
    opacity: 0.9;
  }
}

html,
body {
  width: 100%;
  height: 100%;
  user-select: none;
  overflow: hidden;
}

/* iOS Pinch Zoom disabled */
body {
  touch-action: none;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--white);

  @media (prefers-color-scheme: dark) {
    /* background-color: var(--black); */
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  cursor: pointer;
  border: none;
  background-color: var(--main-color);
  color: var(--white);
  width: 200px;
  height: 60px;
  font-size: 1.125rem;
  text-align: center;
  font-family: var(--main-font);
  border-radius: 6px;
  font-weight: 300;
  -webkit-tap-highlight-color: transparent;
}

@media (hover: hover) and (pointer: fine) {
  button:hover {
    opacity: 0.9;
  }
}

button:disabled {
  cursor: wait;
  opacity: 0.9;
}

img {
  -webkit-user-drag: none;
  max-width: 100%;
  width: 100%;
  height: 100%;
  vertical-align: top;
  object-fit: cover;
}

input {
  color: var(--black);
  text-align: center;
  border: none;
  font-size: 1rem;
  outline: none;
  background: none;
  box-sizing: border-box;
}

.modal {
  border-radius: 10px;
  box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, 0.25);
}

.textNowrap {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.noScrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.noScrollbar::-webkit-scrollbar {
  display: none;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.clear::after {
  display: block;
  clear: both;
  content: "";
}

.leftNavButtonActive {
  background: var(--main-color);
  color: var(--white) !important;
}

.cabiButton {
  -webkit-tap-highlight-color: transparent;
}
