@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap&text=새롬관로그인중");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap");

:root {
  /* white, gray, black */
  --ref-white: #ffffff;
  --ref-gray-100: #f5f5f5;
  --ref-gray-200: #eeeeee;
  --ref-gray-300: #d9d9d9;
  --ref-gray-400: #bcbcbc;
  --ref-gray-450: #8c8c8c;
  --ref-gray-500: #7b7b7b;
  --ref-gray-530: #505354;
  --ref-gray-550: #3d3f40;
  --ref-gray-600: #3c3c3c;
  --ref-gray-700: #313233;
  --ref-gray-800: #262626;
  --ref-gray-900: #1f1f1f;
  --ref-black: #181818;

  /* red */
  --ref-red-100: #ff4e4e;
  --ref-red-200: #e54646;

  /* orange */
  --ref-orange-100: #ff8b5b;
  --ref-orange-200: #ef8172;

  /* yellow */
  --ref-yellow: #ffc74c;

  /* green */
  --ref-green-100: #47ffa7;
  --ref-green-200: #3fe596;
  --ref-green-300: #00cec9;
  --ref-green-400: #00c2ab;

  /* blue */
  --ref-blue-100: #f5f7ff;
  --ref-blue-150: #dce7fd;
  --ref-blue-160: #91b5fa;
  --ref-blue-200: #7ebffb;
  --ref-blue-210: #74b9ff;
  --ref-blue-230: #0984e3;
  --ref-blue-250: #5278fd;
  --ref-blue-300: #406ee4;
  --ref-blue-400: #3f69fd;
  --ref-blue-430: #2c5afd;
  --ref-blue-450: #0d4c92;
  --ref-blue-470: #26447e;
  --ref-blue-500: #252526;

  /* purple */
  --ref-purple-100: #f9f6ff;
  --ref-purple-200: #dfd0fe;
  --ref-purple-300: #b18cff;
  --ref-purple-350: #a29bfe;
  --ref-purple-400: #a17bf3;
  --ref-purple-500: #9747ff;
  --ref-purple-600: #8337e5;
  --ref-purple-650: #6931b2;
  --ref-purple-690: #3c1c66;
  --ref-purple-700: #252425;

  --ref-transparent-purple-100: #b18cff5f;
  --ref-transparent-purple-200: #b08cffe1;

  /* pink */
  --ref-pink-100: #f473b1;
  --ref-pink-150: #ff4589;
  --ref-pink-200: #d72766;

  /* shadow color */
  --ref-black-shadow-100: rgba(0, 0, 0, 0.1);
  --ref-black-shadow-200: rgba(0, 0, 0, 0.25);
  --ref-black-shadow-300: rgba(0, 0, 0, 0.4);
  --ref-black-shadow-400: rgba(0, 0, 0, 0.8);

  /* cabinet */
  --full-color: var(--ref-gray-200);
  --banned-color: var(--ref-gray-600);
  --broken-color: var(--ref-gray-600);
  --session-color: var(--ref-gray-200);

  /* custom color */
  --custom-blue-100: var(--ref-blue-210);
  --custom-blue-200: var(--ref-blue-230);
  --custom-blue-300: var(--ref-blue-450);
  --custom-pink-100: var(--ref-pink-100);
  --custom-pink-200: var(--ref-pink-150);
  --custom-pink-300: var(--ref-pink-200);
  --custom-purple-100: var(--ref-purple-350);
  --custom-purple-200: var(--ref-purple-500);
  --custom-orange: var(--ref-orange-100);
  --custom-yellow: var(--ref-yellow);
  --custom-green-100: var(--ref-green-300);
  --custom-green-200: var(--ref-green-400);

  /* component variable */
  --color-picker-hash-color: var(--ref-gray-450);
  --sys-sub-color: var(--ref-purple-300);
  --sys-default-sub-color: var(--ref-purple-300);
  --sys-presentation-sub-color: var(--ref-blue-160);
  --tooltip-shadow-color: var(--ref-black-shadow-400);
  --color-picker-border-shadow-color: var(--ref-black-shadow-200);
  --presentation-detail-available-color: var(--ref-blue-150);
  --presentation-blue-pagination-btn-color: var(--ref-blue-250);
  --mine-text-color: var(--ref-black);

  --size-base: 14px;

  --size-base: 14px;

  /* font variable */
  --main-font: "Noto Sans KR", sans-serif;
  --building-font: "Do Hyeon", sans-serif;

  /* default setting */
  font-family: "Noto Sans KR", Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

a {
  color: var(--sys-main-color);
  -webkit-tap-highlight-color: transparent;
}

@media (hover: hover) and (pointer: fine) {
  a:hover {
    opacity: 0.9;
  }
}

html,
body {
  width: 100%;
  height: 100%;
  user-select: none;
  overflow: hidden;
}

/* iOS Pinch Zoom disabled */
body {
  touch-action: none;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  background-color: var(--bg-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  cursor: pointer;
  border: none;
  background-color: var(--sys-main-color);
  color: var(--white-text-with-bg-color);
  width: 200px;
  height: 60px;
  font-size: 1.125rem;
  text-align: center;
  font-family: var(--main-font);
  border-radius: 6px;
  font-weight: 300;
  -webkit-tap-highlight-color: transparent;
}

@media (hover: hover) and (pointer: fine) {
  button:hover {
    opacity: 0.9;
  }
}

button:disabled {
  cursor: wait;
  opacity: 0.9;
}

img {
  -webkit-user-drag: none;
  max-width: 100%;
  width: 100%;
  height: 100%;
  vertical-align: top;
  object-fit: cover;
}

input {
  color: var(--normal-text-color);
  text-align: center;
  border: none;
  font-size: 1rem;
  outline: none;
  background: none;
  box-sizing: border-box;
}

.modal {
  border-radius: 10px;
  box-shadow: 10px 10px 40px 0px var(--login-card-border-shadow-color);
}

.textNowrap {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.noScrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.noScrollbar::-webkit-scrollbar {
  display: none;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.clear::after {
  display: block;
  clear: both;
  content: "";
}

.leftNavButtonActive {
  background: var(--sys-main-color);
  color: var(--white-text-with-bg-color) !important;
}

.cabiButton {
  -webkit-tap-highlight-color: transparent;
}

.domainButtonActive {
  color: var(--sys-main-color) !important;
}
