<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">

  <Properties>
    <Property name="consoleLayout">%style{%d{yyyy-MM-dd HH:mm:ss}}{white} %highlight{%-5level }[%style{%t}{bright,blue}] [%X] %style{%C{1}}{bright,yellow}: %msg%n%throwable</Property>
  </Properties>

  <Appenders>
    <Console name="console" target="SYSTEM_OUT">
      <PatternLayout pattern="${consoleLayout}" />
    </Console>
  </Appenders>

  <Loggers>

    <logger name="org.springframework" level="info" additivity="false" >
      <AppenderRef ref="console" />
    </logger>

    <logger name="org.ftclub.cabinet" level="info" additivity="false" >
      <AppenderRef ref="console" level="info" />
    </logger>

    <!--  sql문 확인을 위한 설정 (시작) -->
    <!--  sql을 봐야한다면 해당 부분 주석 해제하면 됨.  -->
<!--    <logger name="org.hibernate.type" level="trace" additivity="false" >-->
<!--      <AppenderRef ref="console" />-->
<!--    </logger>-->

<!--    <logger name="org.hibernate.SQL" level="debug" additivity="false" >-->
<!--      <AppenderRef ref="console" />-->
<!--    </logger>-->
    <!--  sql문 확인을 위한 설정 (끝) -->

  </Loggers>
</Configuration>