<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

<div>
  <h1> 🚨 사물함 대여 성공 알림 🚨 </h1>
</div>
<br>
<div>
  <b th:text="${name}"></b>님, <b th:text="${location}"></b>의 사물함 대여에 성공했습니다. <br><br>

  대여 기간은 <b th:text="${expireDate}"></b>까지 이며 기한 만료 전 반납 부탁드립니다.<br><br>

  <span style="color:red">연체한 일 수의 제곱 일수 만큼 패널티가 주어집니다.</span><br>
  패널티 일수 만큼 사물함 이용이 불가합니다.<br>
  반복적인 연체 발생 시 TIG가 부여될 수 있습니다.<br>
</div>
<br>
<div>
  사물함 대여 서비스 바로가기 ➡ <a href="https://cabi.42seoul.io">https://cabi.42seoul.io</a> <br>
  사물함 서비스 관련 문의사항 ➡ <a href="https://42born2code.slack.com/archives/C02V6GE8LD7">https://42born2code.slack.com/archives/C02V6GE8LD7</a>
  <br>
</div>

</body>
</html>