<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
        name="viewport">
  <meta content="ie=edge" http-equiv="X-UA-Compatible">
  <title>Document</title>
</head>
<body>

<div>
  <h1> 🚨 알림 등록 영역 사물함 오픈 예정 알림 🚨 </h1>
</div>
<br>
<div>
  <b th:text="${name}"></b>님, <b th:text="${location}"></b>의 사물함이 오픈 예정입니다. <br><br>

  사물함 오픈 예정 시간은 매일 13시입니다.<br>
  이용에 참고 바랍니다.<br><br>
</div>
<br>
<div>
  사물함 대여 서비스 바로가기 ➡ <a href="https://cabi.42seoul.io">https://cabi.42seoul.io</a> <br>
  사물함 서비스 관련 문의사항 ➡ <a href="https://42born2code.slack.com/archives/C02V6GE8LD7">https://42born2code.slack.com/archives/C02V6GE8LD7</a>
  <br>
</div>

</body>
</html>