#cabinet_num{
    font-weight: bolder;
    font-size: larger;
    text-align: center;
    padding: 7px;
}

#intra_id{
    font-size: smaller;
    text-align: center;
    padding: 5px;
    color: rgb(70, 70, 70);
}
