.carousel-indicators [data-bs-target]{
    background-color: #6667AB;
    width: 30px;
    height: 3px;
    margin-right: 10px;
    margin-left: 10px;
}

.carousel-indicators .active {
    background-color: #6c337d;
    width: 30px;
    height: 3px;
    margin-right: 10px;
    margin-left: 10px;
    /* opacity: 0; */
    /* opacity: .5; */
    transition: opacity 1.2s ease;
}

.indicator{
    margin-left: 10px;
    background-color: cornflowerblue;
    border-radius: 2px !important;
    width: 25%;
}


.sectionName{
    text-align: center;
    font-size: large;
    font-weight: bolder;
}

.carousel-item{
    padding-left: 35px;
    padding-right: 35px;
}

#cabinetGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 5em;
    height: 60vh;
    overflow: scroll;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='grey' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
    position: absolute;
    left: 10px;

    /* bottom: auto; */
}


.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='grey' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
    position: absolute;
    right: 10px;
    /* bottom: auto; */
}

.carousel-control-next {
    width: 70px;
    height: 70vh;
    position: absolute;
    right : -8px;
    border-radius: 0.5em;
    background: #6667ab20;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eaeaea00, #dbdbdb00, #f2f2f200, #ada99600);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eaeaea06, #6667ab2c, #6c337d2b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.carousel-control-prev {
    width: 70px;
    height: 70vh;
    position: absolute;
    left : -8px;
    border-radius: 0.5em;
    background: #6667ab20;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #eaeaea00, #dbdbdb00, #f2f2f200, #ada99600);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #eaeaea06, #6667ab2c, #6c337d2b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
