#dropdownMenuReturn {
    text-align: center;
    min-width: 11rem;
    right: 0%;
    left: 70%!important;
}

#dropdownMenuLent {
    text-align: center;
    min-width: 2rem;
    left: 50%;
	right: 0%;
}
