@media screen and (max-width: 1300px) {
  #infoWrap > .titleContainer {
    width: 90%;
    max-width: 600px;
  }

  #infoWrap .section {
    flex-direction: column;
    align-items: center;
  }
  #infoWrap .article {
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  #infoWrap .title {
    font-size: 2rem;
  }
  #infoWrap .subtitle {
    font-size: 1.25rem;
  }
  #infoWrap .article > p {
    font-size: 0.875rem;
    letter-spacing: -0.02rem;
  }
}
