@media only screen and (max-width: 1040px) {
  /* left navigation */
  #leftNavWrap {
    position: fixed;
    top: 80px;
    left: 0;
    background-color: var(--white);
    height: calc(100% - 80px);
    z-index: 9;
    transform: translateX(-120%);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 0 40px 0 var(--bg-shadow);
  }
  #leftNavWrap.on {
    transform: translateX(0%);
  }

  #menuBg {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-shadow);
    transform: translateX(-100%);
    z-index: 8;
  }
  #menuBg.on {
    transform: translateX(0%);
  }

  /* cabinetDetailArea(rightSection) */
  #cabinetDetailArea {
    position: fixed;
    top: 80px;
    right: 0;
    height: calc(100% - 80px);
    z-index: 9;
    transform: translateX(120%);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 0 40px 0 var(--bg-shadow);
  }
  #cabinetDetailArea.on {
    transform: translateX(0%);
  }
}

/* mapInfo */
#mapInfo.on {
  transform: translateX(0%);
}

